<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.dbit.csiapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        android:minSdkVersion="33" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"
        android:minSdkVersion="33" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"
        android:minSdkVersion="33"  />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>



    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@drawable/csilogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/csilogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name="in.dbit.csiapp.mActivityManager.ReportDisplay"
            android:theme="@style/AppTheme2"/>
        <activity android:name="in.dbit.csiapp.mActivityManager.CreativePosterFull" />
        <activity
            android:name="in.dbit.csiapp.mActivityManager.publcity_recycler"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="in.dbit.csiapp.Prompts.attendance_list"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="in.dbit.csiapp.mActivityManager.edit_proposal"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="in.dbit.csiapp.mActivityManager.proposal_desc"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="in.dbit.csiapp.mActivityManager.praposal_recycler"
            android:theme="@style/AppTheme2" />
        <activity android:name="in.dbit.csiapp.Gallery.Activities.FullScreenActivity" />
        <activity
            android:name="in.dbit.csiapp.Gallery.Activities.DisplayImage"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="in.dbit.csiapp.Gallery.Activities.DisplayYear"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="in.dbit.csiapp.Gallery.Activities.DisplayEventName"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="in.dbit.csiapp.mActivityManager.Technical_form"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="in.dbit.csiapp.mActivityManager.Creative_form"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="in.dbit.csiapp.mActivityManager.Report"
            android:theme="@style/AppTheme2" />
        <activity android:name="in.dbit.csiapp.mActivityManager.Gallery" />
        <activity
            android:name="in.dbit.csiapp.mActivityManager.Technical"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="in.dbit.csiapp.mActivityManager.Publicity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="in.dbit.csiapp.mActivityManager.Creative"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="in.dbit.csiapp.mActivityManager.Proposal"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="in.dbit.csiapp.Prompts.ProfileEdit"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="in.dbit.csiapp.Prompts.Manager"
            android:label="@string/title_activity_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="in.dbit.csiapp.Prompts.role_intent" />
        <activity
            android:name="in.dbit.csiapp.Prompts.AddMinute"
            android:theme="@style/AppTheme2" />


        <activity
            android:name="in.dbit.csiapp.Prompts.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>