<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/views/assets/css/cards.css">
    
</head>
<body>
    <div id="project-container" class="project-container">
        <div id="tabs" class="tabs-container">
    
            <div class="tabs">
                <a id="tab1" data-tab="1" class="tab" style="min-width: fit-content;margin-right: 30px;     background: #6de4ff;
                color: black;">CSI</a>
                <a id="tab2" data-tab="2" class="tab" style="min-width: fit-content;margin-right: 30px;     background: #6de4ff;
                color: black;">Vision</a>
                <a id="tab3" data-tab="3" class="tab" style="min-width: fit-content; margin-right: 30px;    background: #6de4ff;
                color: black;">Mission</a>
                <a id="tab4" data-tab="4" class="tab" style="min-width: fit-content;   background: #6de4ff;
                color: black;">Objective</a>
            </div>
    
            <div class="content">
                <div id="tabcontent1" data-tab="1" class="tabcontent" style="
                width: 680px;
                background: linear-gradient(100deg, #6de4ff, #f9f0f0);" >
                  <p style="color:black"><strong></strong> <br>
                    This project manages a task catalogue and offers “Efficient Scheduling” for CSI.
                    Computer Society of India is the first and largest body of computer professionals in India. It was started on 6 March 1965 by a few computer professionals and has now grown to be the national body representing computer professionals. It has 72 chapters across India, 511 student branches, and 100,000 members. The Computer Society of India is a non-profit professional meet to exchange views and information learn and share ideas.
                    The wide spectrum of members is committed to the advancement of theory and practice of Computer Engineering and Technology Systems, Science and Engineering, Information Processing and related Arts and Sciences. The Society also encourages and assists professionals to maintain integrity and competence of the profession and fosters a sense of partnership amongst members. Besides the activities held at the Chapters and Student Branches, the Society also conducts periodic conferences, seminars.
                    <br>
                </div>
                <div id="tabcontent2" data-tab="2" class="tabcontent" style="width: 680px; background: linear-gradient(100deg, #6de4ff, #f9f0f0);">
                      <p style="color:black">To provide a conducive platform to learn, share, innovate ideas and to facilitate opensource culture along with research attitude.
                     
                </div>
                <div id="tabcontent3" data-tab="3" class="tabcontent" style="
                width: 680px; background: linear-gradient(100deg, #6de4ff, #f9f0f0);">
                    <p style="color:black">DBIT-CSI is to facilitate research, knowledge sharing, learning and career enhancement for all categories of IT professionals, while simultaneously inspiring and nurturing new entrants into the industry and helping them to integrate into the IT community.                   
                        
                </div>
                <div id="tabcontent4" data-tab="4" class="tabcontent" style="
                width: 680px; background: linear-gradient(100deg, #6de4ff, #f9f0f0);">
                    <p style="color:black">To serve the student community by bridging the gap between academia and industry. Outcome Students should be industry ready with latest skills required in the IT industry Developed by CSI DBIT.                    </p>
                     
                </div>
            </div>
    
        </div>
      
        <div class="dark-mode-switch">
            <label class="switch-label" for="dark-mode-switch"></label>
            <label class="switch">
                <input type="checkbox" id="dark-mode-switch">
                <!-- <span class="slider round"></span> -->
            </label>
        </div>
      
    </div>
    
    
    
    
    
    <!-- ---------------------- -->
      <!-- ---------------------- -->
    
      <div class="small-screen">
        <div class="small-screen-content tabcontent">
            <p>The contents won't be visible at this limit!</p>
        </div>
    </div>
    
    
    <script src="/views/assets/js/cards.js"></script>
    <script src="https://kit.fontawesome.com/cdb8f414fe.js"></script>
</body>
</html>