<!--
=========================================================
* Argon Dashboard 2 - v2.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/icons/favicon-16x16.png">
  <title>
    CSI Management App
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="./assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="./assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="./assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="./assets/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
  <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
</head>



<body class="g-sidenav-show bg-gray-100">
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
  <%- include('../templates/asidebar'); %>
  <div class="main-content position-relative max-height-vh-100 h-100">


    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                <p class="mb-0">ADD CORE MEMBERS</p>
                
              </div>
            </div>
            <div class="card-body">
              <!-- Add a flash message container -->
<div id="flash-message" style="display: none;" class="alert" role="alert"></div>

               <!-- Sign up form -->
          <section class="add-core-member">
            <div class="container bg-white">
              <div class="signup-content">
                <div class="signup-form">
                  <div class="d-flex align-items-center">
                    <p class="mb-0"><i class="ni ni-cloud-download-95"></i> Upload CSV File</p>

                     <!-- Download Template Button -->
                     <button id="downloadBtn" class="btn btn-primary btn-sm ms-auto">Download Template</button>

                      <!-- Information Modal Button -->
                      <button class="btn btn-primary btn-sm ms-1" data-bs-toggle="modal" data-bs-target="#informationModal">
                        <i class="fa fa-info-circle" aria-hidden="true" style="font-size: 17px;"></i>
                      </button>
                
                      
                      <!-- Information Modal -->
                      <div class="modal fade" id="informationModal" tabindex="-1" aria-labelledby="informationModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header" id="dynamic_modal_title">Note</div>
                                <div class="modal-body">

                                  <h5>Please do not change the column names!</h5>
                                  <!-- <ul> -->
                                    
                                      <!-- <ul> -->
                                          <!-- <li</li> -->
                                          <!-- <li>mem_start (membership start) and mem_end (membership end) should be added in yyyy-mm-dd format</li>
                                          <li>Academic year should be mentioned in yy-yy format (eg: 22-23) in the acad column</li>
                                          <li>class_name column has to be filled with the year of the student (eg: TE, BE)</li>
                                          <li>In gender column enter either 'female' or 'male' (with no capital letters)</li>
                                          <li>In role column, the role_id should be added (refer to the role id below)</li> -->
                                      <!-- </ul> -->
                                      <!-- <li>Role IDs:</li>
                                      <ul>
                                          <li>3-Chairperson</li>
                                          <li>4-Vice Chairperson</li>
                                          <li>5-Event Head</li>
                                          <li>6-Technical Head</li>
                                          <li>7-Web Development Head</li>
                                          <li>8-Public Relations Head</li>
                                          <li>9-Creative Head</li>
                                          <li>10-Secretary</li>
                                          <li>11-Documentation Head</li>
                                          <li>12-Test Login</li>
                                      </ul> -->
                                  <!-- </ul> -->
                              </div>
                              
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                     
                    </div>
                  <form action="/uploadcsv" method="post" enctype="multipart/form-data" id="csv">
                    <!-- <div class="form-group">
                    
                      <input type="file" id="csvFile" name="csvFile" accept=".csv" required>
                    </div> -->
                    <div class="form-group">
                      <!-- <label for="event-image"><i class="ni ni-cloud-download-95"></i></label> -->
                      <input type="file" name="csvFile" id="csvFile" accept=".csv"  class="form-control form-control-lg" /> <!-- Updated field name -->
                    </div>
                    <button type="submit" class="form-submit btn btn-dark btn-sm w-100 mb-3">Upload</button>
                  </form>
                  <div style="display: flex; align-items: center; justify-content: center; text-align: center;">
                    <hr class="horizontal dark" style="flex: 1; margin: 0;"> 
                    <p style="margin: 0 10px;">or</p>
                    <hr class="horizontal dark" style="flex: 1; margin: 0;">
                  </div>
                  
                  <div class="d-flex align-items-center">
                    <p class="mb-0"><i class="ni ni-bullet-list-67"></i> Add Member Details</p>
                    
                    </div>
                    <br>

                  <form method="POST" class="register-form" id="add-core-member-form">
                    <div class="form-group">
                      <label for="role"><i class="ni ni-badge"></i> Add Role</label>
                      <br>
                      <select name="role" id="role">
                        <option value="3">Chairperson</option>
                        <option value="4">Vice Chairperson</option>
                        <option value="10">Secretary</option>
                        <option value="5">Event Head</option>
                        <option value="6">Technical Head</option>
                        <option value="7">Web Development Head</option>
                        <option value="11">Documentation Head</option>
                        <option value="8">Public Relations Head</option>
                        <option value="9">Creative Head</option>
                        <option value="12">Tester</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="first-name"><i class="ni ni-single-02"></i> First Name</label>
                      <input type="text" name="first_name" id="first-name" placeholder="First Name" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                      <label for="last-name"><i class="ni ni-single-02"></i> Last Name</label>
                      <input type="text" name="last_name" id="last-name" placeholder="Last Name" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                      <label for="password"><i class="ni ni-lock-circle-open"></i> Password</label>
                      <input type="password" name="password" id="password" placeholder="Password" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                      <label for="roll-no"><i class="ni ni-credit-card"></i> Roll No.</label>
                      <input type="text" name="roll_no" id="roll-no" placeholder="Roll No" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                      <label for="mob-no"><i class="ni ni-mobile-button"></i> Mobile No.</label>
                      <input type="text" name="mob_no" id="mob-no" placeholder="Mobile No" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                      <label for="email"><i class="ni ni-email-83"></i> Email ID</label>
                      <input type="email" name="email" id="email" placeholder="Email" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                      <label for="branch"><i class="ni ni-istanbul"></i> Branch</label>
                      <input type="text" name="branch" id="branch" placeholder="IT, COMPS, EXTC, MECH" class="form-control form-control-lg"/>
                    </div>
                    <div class="form-group">
                      <label for="class"><i class="ni ni-hat-3"></i> Class</label>
                      <input type="text" name="class" id="class" placeholder="SE, TE, BE" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                      <label>Gender</label><br>
                      <input type="radio" id="male" name="gender" value="male">
                      <label for="male">Male</label><br>
                      <input type="radio" id="female" name="gender" value="female">
                      <label for="female">Female</label>
                    </div>
                    <div class="form-group">
                      <label for="acad"><i class="ni ni-hat-3"></i> Academic year (note: mention in yy-yy format)</label>
                      <input type="text" name="acad" id="acad" placeholder="Academic year (YY-YY)" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                      <label for="class"><i class="ni ni-calendar-grid-58"></i> Membership Start Date</label>
                      <input type="date" name="mem_strt" id="membership-start" placeholder="Membership start" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                      <label for="class"><i class="ni ni-calendar-grid-58"></i> Membership End Date</label>
                      <input type="date" name="mem_end" id="membership-end" placeholder="Membership end" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group form-button">
                      <input type="submit" name="add_member" id="add-member" class="form-submit btn btn-dark btn-sm w-100 mb-3" value="Add Member" />
                    </div>
                  </form>
                </div>
                <!-- Include your signup-image section -->
              </div>
            </div>
          </section>
        
         
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4">
          <div class="card card-profile">
            <img src="../assets/img/dbit-clg.jpg" alt="Image placeholder" class="card-img-top">
     
     
            <div class="card-body pt-0">
        
              <div class="text-center mt-4">
                <h5>
                  No. of Core Members added
                </h5>
            
                <h5 class="font-weight-bolder" id="member-count">
                  Loading...
                </h5>
                
       
              </div>
            </div>
          </div>
        </div> -->
        <div class="col-md-4">
          <div class="card card-profile">
              <!-- Removed the image part as per your request -->
              <img src="../assets/img/dbit-clg.jpg" alt="Image placeholder" class="card-img-top">
      
              <div class="card-body pt-0">
                  <div class="text-center mt-4">
                      <h5>No. of Core Members added</h5>
                      <h5 class="font-weight-bolder" id="member-count">Loading...</h5>
      
                      <!-- Tabs for selecting the academic year -->
                      <!-- Tabs for selecting the academic year -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="year-23-24-tab" data-toggle="tab" href="#year-23-24" role="tab" aria-controls="year-23-24" aria-selected="true">23-24</a>
</li>
  <li class="nav-item">
      <a class="nav-link" id="year-22-23-tab" data-toggle="tab" href="#year-22-23" role="tab" aria-controls="year-22-23" aria-selected="false">22-23</a>
  </li>
  
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade show active" id="year-23-24" role="tabpanel" aria-labelledby="year-23-24-tab">
    <!-- Content for 23-24 will be loaded here -->
</div>
  <div class="tab-pane fade" id="year-22-23" role="tabpanel" aria-labelledby="year-22-23-tab">
      <!-- Content for 22-23 will be loaded here -->
  </div>
 
</div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      </div>
      <%- include('../templates/footer'); %>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    document.getElementById('downloadBtn').addEventListener('click', function() {
    // If the file is static, just set the window location to the file path
    window.location.href = '../../server_uploads/csv_upload/Template_Core_Members_Add.csv';

});

  </script>
<script>
  document.getElementById('csv').addEventListener('submit', function(e) {
    e.preventDefault();
    const formData = new FormData(this);
    
    fetch('/uploadcsv', {
        method: 'POST',
        body: formData,
    })
    .then(response => {
        if (!response.ok) {
            // Attempt to parse the response body as JSON to extract error messages
            return response.json().then(err => Promise.reject(err));
        }
        return response.json();
    })
    .then(data => {
        if(data.success) {
            alert(data.message); // Success message
            window.location.reload(); // Optionally reload or redirect
        } else {
            displayErrors(data); // Handle application-level errors
        }
    })
    .catch(error => {
        // Check if the error object contains detailed errors and display them
        if (error.errors && error.errors.length > 0) {
            let errorMessage = 'Failed to process CSV file. Please correct the following errors:\n';
            errorMessage += error.errors.join('\n');
            alert(errorMessage);
        } else {
            // Fallback to a generic error message
            console.error('Error:', error);
            alert(error.message || 'An error occurred while uploading the file.');
        }
        document.getElementById('csvFile').value = ''; // Reset file input
    });
});

function displayErrors(data) {
    let errorMessage = 'Failed to process CSV file.';
    if (data.errors && data.errors.length > 0) {
        errorMessage += ' Please correct the following errors:\n' + data.errors.join('\n');
    } else {
        errorMessage += ' ' + (data.message || 'Please try again.');
    }
    alert(errorMessage);
    document.getElementById('csvFile').value = ''; // Reset file input
}

</script>


    
  <script>
    $(document).ready(function() {
  // Bind an event listener to the form submission
  $('#add-core-member-form').on('submit', function(event) {
    event.preventDefault(); // Prevent the default form submission

    // Collect form data
    const formData = {
      role: $('#role').val(),
      first_name: $('#first-name').val(),
      last_name: $('#last-name').val(),
      roll_no: $('#roll-no').val(),
      mob_no: $('#mob-no').val(),
      email: $('#email').val(),
      password: $('#password').val(),
      branch: $('#branch').val(),
      class_name: $('#class').val(),
      gender: $('input[name="gender"]:checked').val(),
      acad: $('#acad').val(),
      mem_strt: $('#membership-start').val(),
      mem_end: $('#membership-end').val(),
    };

    // Perform AJAX request
    $.ajax({
    type: 'POST',
    url: '/addmembers',
    contentType: 'application/json',
    data: JSON.stringify(formData),
    success: function(response) {
        // Display success message (Optional)
        alert('Member added successfully!');

        // Refresh the current page
        window.location.reload();

        // Or, redirect to another page, e.g., the members list page
        // window.location.href = '/memberslist';
    },
    error: function(error) {
        // Display error message
        alert('Failed to add member. Please try again.');
        console.error('Error submitting form:', error);
    }
});

  });
});


$(document).ready(function() {
    // Function to make AJAX call and update content
    function loadCoreMembers(year) {
        $.ajax({
            url: `/members/${year}`, // Adjust the URL path to your actual API endpoint
            type: 'GET',
            success: function(response) {
              let tableHtml = '<table class="table"><thead><tr><th>Name</th><th>Role</th></tr></thead><tbody>';
    response.members.forEach((memberName, index) => {
        const roleName = response.role[index];
        tableHtml += `<tr><td>${memberName}</td><td>${roleName}</td></tr>`;
    });
    tableHtml += '</tbody></table>';
    
    if (response.members.length === 0) {
        tableHtml = '<p>No core members found for this year.</p>';
    }
    $(`#year-${year}`).html(tableHtml);
            },
            error: function(error) {
                $(`#year-${year}`).html('<p>Failed to load data.</p>');
                
            }
        });
    }

    // Load core members for the year 23-24 on document ready
    loadCoreMembers('23-24');

    // Event handler for tab clicks to load and display members for the selected year
    $('#myTab a').on('click', function (e) {
        e.preventDefault();
        var selectedYear = $(this).text().trim();
        loadCoreMembers(selectedYear);

        // Activate the clicked tab
        if (typeof bootstrap === 'undefined') {
            // Bootstrap 4 and below
            $(this).tab('show');
        } else {
            // Bootstrap 5
            var tab = new bootstrap.Tab($(this)[0]);
            tab.show();
        }
    });
});




  </script>

  <script>

$(document).ready(function () {
  updateMemberCount();

  function updateMemberCount() {
    $.ajax({
      url: "/countMembers",
      method: "GET",
      dataType: "JSON",
      success: function (response) {
        $('#member-count').text(response.count);
      },
      error: function (error) {
        console.error("Error fetching core count:", error);
        $('#member-count').text("Error");
      }
    });
  }
});



  </script>

  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/argon-dashboard.min.js?v=2.0.4"></script>
</body>

</html>