<!--
=========================================================
* Argon Dashboard 2 - v2.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/icons/favicon-16x16.png">
  <title>
    CSI Management App
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="./assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="./assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="./assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="./assets/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
  <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
</head>



<body class="g-sidenav-show bg-gray-100">
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
  <%- include('../templates/asidebar'); %>
  <div class="main-content position-relative max-height-vh-100 h-100">


    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                <p class="mb-0">ADD FEATURE IMAGES</p>
                
              </div>
            </div>
            <div class="card-body">
              <!-- Add a flash message container -->
<div id="flash-message" style="display: none;" class="alert" role="alert"></div>

               <!-- Sign up form -->
          <section class="add-feature-images">
            <div class="container bg-white">
              <div class="signup-content">
                <div class="signup-form">

                  <!-- Example: Ensure the action attribute is correctly set if you're not preventing the default action -->
                  <form method="POST" action="/featurepage" class="register-form" id="add-feature-images-form" enctype="multipart/form-data">

                    
                    <div class="form-group">
                      <label for="event-name"><i class="ni ni-single-02"></i> Event Name</label>
                      <input type="text" name="event_name" id="event-name" placeholder="Event Name" class="form-control form-control-lg" required  />
                    </div>
                 
                    
                    <div class="form-group">
                      <label for="class"><i class="ni ni-calendar-grid-58"></i> Event Date</label>
                      <input type="date" name="event_date" id="event-date" placeholder="Event Date" class="form-control form-control-lg" required />
                    </div>

                    <div class="form-group">
                        <label for="event-image"><i class="ni ni-album-2"></i> Event Image</label>
                        <input type="file" name="event_image" id="event-image" class="form-control form-control-lg" accept="image/png, image/jpeg, image/jpg, image/heic" required /> <!-- Updated field name -->
                      </div>
                      
                      
                 
                    <div class="form-group form-button">
                      <input type="submit" name="add_image" id="add-image" class="form-submit btn btn-dark btn-sm w-100 mb-3" value="Add Feature Image" />
                    </div>
                  </form>
                </div>
                <!-- Include your signup-image section -->
              </div>
            </div>
          </section>
        
         
            </div>
          </div>
        </div>
  
      </div>
      <%- include('../templates/footer'); %>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    $('#add-feature-images-form').on('submit', function(event) {
  event.preventDefault(); // Prevent the default form submission

  const fileInput = document.getElementById('event-image');
    const filePath = fileInput.value;
    const allowedExtensions = /(\.jpg|\.jpeg|\.png|\.HEIC)$/i;

    if (!allowedExtensions.exec(filePath)) {
      alert('Invalid file type. Please upload only image files (jpg, jpeg, png, heic).');
      fileInput.value = ''; // Clear the file input for new selection
      return false;
    }

  const formData = new FormData(this); // 'this' is the form element

  fetch('/featurepage', {
    method: 'POST',
    body: formData, // Send the form data
  })
  .then(response => {
    if (!response.ok) throw new Error('Network response was not ok');
    return response.text();
  })
  .then(result => {
    alert('Image added successfully!');
    window.location.reload();
  })
  .catch(error => {
    alert('Failed to add Image. Please try again.');
    console.error('Error submitting form:', error);
  });
});


  </script>


  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/argon-dashboard.min.js?v=2.0.4"></script>
</body>

</html>