<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/cards.css">
    
</head>
<body>
    <div id="project-container" class="project-container">
        <div id="tabs" class="tabs-container">
    
            <div class="tabs">
                <a id="tab1" data-tab="1" class="tab" style="min-width: fit-content;margin-right: 30px;     background: #6de4ff;
                color: black;">CSI-Management App</a>
                <a id="tab2" data-tab="2" class="tab" style="min-width: fit-content;margin-right: 30px;     background: #6de4ff;
                color: black;">DBIT- Management App</a>
                <a id="tab3" data-tab="3" class="tab" style="min-width: fit-content;     background: #6de4ff;
                color: black;">Competition Portal</a>
            </div>
    
            <div class="content">
                <div id="tabcontent1" data-tab="1" class="tabcontent" style="
                width: 680px;
                background: linear-gradient(100deg, #6de4ff, #f9f0f0);" >
                  <p style="color:black"><strong>Key Functionality:</strong> <br>
                    This project manages a task catalogue and offers “Efficient Scheduling” for CSI.
                    <br>
                    <br>
                    <strong>Ultimate goals:</strong><br>
                    The activities that the functional app will be able to perform include proposing events, assigning tasks, maintaining drafts, summarising prior events, activity reports, and recording attendance.
                    <br>
                    <br>
                    <strong>Benefit:</strong><br>
                    This will prove to be potent to avoid commotion.
                    <br><br>
                    <strong>Need:</strong><br>
                    This would make the work of completing tasks more easier as we do not need to go through multiple platforms to access and store data.
                    From submitting proposals to getting it reviewed, it’ll be a hassle-free process.
                    This will lead to less time investment as higher authorities are just a click away to know about the documentations and ideas of the team.
                    This app provides an environment where nobody from the team misses out on anything as all the meeting details are visible to everyone.
                    Attendance is made less complicated as each member can mark their roll call through the app which can be verified by the authorities.
                    <br><br>
                    <strong>Project exclusions:</strong><br>
                    This project is currently available only for the CSI core team members along with the concerned higher authorities.</p><br>
                  <p class="read-more-link"><a href="https://drive.google.com/uc?export=download&id=1NVcBmWzT9imvmaCad0_xBpEIlnLPK4cc" style="color: black;" download=""><i class="fa-solid fa-cloud-arrow-down fa-lg"></i> Download CSI-App Report</a></p>
                </div>
                <div id="tabcontent2" data-tab="2" class="tabcontent" style="
                width: 680px; background: linear-gradient(100deg, #6de4ff, #f9f0f0);
            ">
                      <p style="color:black">A simple, intuitive, and an organized medium for effective communication in DBIT.

                        This app will creating a common platform for DBIT that serves as a central point of communication where an individual can view and keep up with all of the college's updates.
                        
                        It will add a filter mechanism to filter out notifications based on category and urgency, with the goal of replacing the legacy method of hierarchical message delivery with direct one-to-many communication. <br><br>
                        <strong>Key functionality:</strong><br>
                        Personalised push notifications to provide updates efficiently.
                        <br>
                        <br><b>Objective:</b> <br>
                        A unified platform for DBIT so that various committees and students may share information effectively.<br>
                        <br><b>Scope: </b><br>
                        We intend to have two-way communication between the various committees and the administration, but only one-way communication with the students in order to avoid spam.<br>
                        
                        <br><b>Need:</b><br>
                        This app would serve as a hub for information sharing not only between teachers and students, but also between management and committees.<br>
                        It Would eliminate the need for intermediaries and allow for direct one-to-many information flow, thereby speeding up overall communication.<br>
                        A common app for students can receive updates on cancelled/rescheduled lectures, the exam cell can share important updates, fees updates, and administration can address students directly whenever necessary.<br>
                        
                        Currently there’s no central medium for TPO to share placement and internship related updates effectively.<br>                            
                        Teachers and student chapters/clubs can publicise events and provide registration information.<br></p>
                      <p class="read-more-link"><a href="https://drive.google.com/uc?export=download&id=1b8Bvxupq3N_WqZjV-F64OjpoHw2ZSCIO" download="" style="color:black;"><i class="fa-solid fa-cloud-arrow-down"></i> Download DBIT-App Report</a></p>
                </div>
                <div id="tabcontent3" data-tab="3" class="tabcontent" style="
                width: 680px; background: linear-gradient(100deg, #6de4ff, #f9f0f0);
            ">
                    <p style="color:black">Creating a common platform for DBIT Students where they can view and keep up with all the events, hackathons and competitions happening in and outside the college as per their domain of interest.<br>
                        <br><b>Key functionality:</b> <br>Personalised push notifications to provide updates efficiently.<br>
                        <br><b>Objective:</b> <br>
                        Web portal will display all competitions, hackathons conducted where user can know if they are open or closed with their registration link.<br>
                        <br><b>Scope: </b><br>
                        Filtering and sorting according to user’s domain of interest.<br>

                        Intra college competitions will have direct registration while inter college competitions will redirect user to their given page.<br>
                        
                        Web Portal will also consist reports of the competitions.<br>
                        
                        Will have poll survey option where administration can see the type of events students are interested in.
                        <br>
                        <br><b>Need:</b><br>
                        Our web portal serves as the single point of access for information for students who want to know more about the upcoming competitions and events as well as keeping up with the updates for the same. <br>

                        At the same time, it solves the common problem faced by students i.e. lack of information about the various events and competitions conducted by the college and the industry. <br>
                        
                        A common platform is especially needed in this current scenario to create awareness among students as well as to increase participation.<br>
                        
                        Currently there’s no central medium for TPO to share placement and internship related updates effectively.<br>                            Teachers and student chapters/clubs can publicise events and provide registration information.<br></p>
                        <p class="read-more-link"><a href="https://drive.google.com/uc?export=download&id=1KomXJ6p7oftVeAibD9g40sFO-YD48qt3" download="" style="color:black;"><i class="fa-solid fa-cloud-arrow-down"></i> Download Competition Portal Report</a></p>
                </div>
                <div id="tabcontent4" data-tab="4" class="tabcontent">
                    <p>Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System after Mercury.</p>
                    <p> In English, Mars carries a name of the Roman god of war and is often referred to as the 'Red Planet'. The latter refers to the effect of the iron oxide prevalent on Mars' surface.</p>
                    <p>Mars is a terrestrial planet with a thin atmosphere.</p>
                      <p class="read-more-link"><a href="https://en.wikipedia.org/wiki/Mars" target="_blank>Learn more<span class="icon">➡️</span></a></p>
                </div>
            </div>
    
        </div>
      
        <div class="dark-mode-switch">
            <label class="switch-label" for="dark-mode-switch"></label>
            <label class="switch">
                <input type="checkbox" id="dark-mode-switch">
                <!-- <span class="slider round"></span> -->
            </label>
        </div>
      
    </div>
    
    
    
    
    
    <!-- ---------------------- -->
    
    <div class="small-screen">
        <div class="small-screen-content tabcontent">
            <p>The contents won't be visible at this limit!</p>
        </div>
    </div>
    <script src="../js/cards.js"></script>
    <script src="https://kit.fontawesome.com/cdb8f414fe.js"></script>
</body>
</html>