<!--
=========================================================
* Argon Dashboard 2 - v2.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/icons/favicon-16x16.png">
  <title>
    CSI Management App
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="../assets/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
  <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
</head>

<body class="g-sidenav-show   bg-gray-100">
  <div class="min-height-300 bg-primary position-absolute w-100"></div>

    <!--aside bar starts-->
    <%- include('../templates/asidebar'); %>
    <!--aside bar ends-->

  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->

      <!-- End Navbar -->
      <div class="container-fluid py-4">
        <div class="row">
          <div class="col-12">
            <div class="card mb-4">
              <div class="card-header pb-0">
                <h6>Technical Requirement table</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered" id="tech_data">
                    <thead>
                      <tr style="vertical-align: middle; text-align: center;color: black;">
                        <th>Event Name</th>
                        <th>Event Date</th>
                        <th>CSI Registration Fee</th>
                        <th>Non-CSI Registration Fee</th>
                        <th>Tasks</th>
                        <th>Action</th>

                      </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
              </div>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
              <script>
  
                $(document).ready(function () {
                  function load_data() {
                    $.ajax({
                      url: "/techall", // Make sure this endpoint exists and is configured in your server
                  method: "GET",
                  dataType: "JSON",
                  success: function (data) {
                    var html = '';
                    data.data.forEach(function(row) {
                      const eventDate = new Date(row.proposals_event_date);
              
                // Format the date as dd-mm-yyyy
                const formattedDate = eventDate.getDate().toString().padStart(2, '0') + '-' + 
                                      (eventDate.getMonth() + 1).toString().padStart(2, '0') + '-' + 
                                      eventDate.getFullYear();
                      html += `<tr>
                                <td>${row.proposals_event_name}</td>
                                <td>${formattedDate}</td>
                                <td>${row.proposals_reg_fee_csi}</td>
                                <td>${row.proposals_reg_fee_noncsi}</td>
                                <td>${row.tasks}</td>
                              
                                <td>
                                  <a href="${row.documentUrl}" target="_blank" class="btn btn-primary btn-sm">View</a>
                                  
                                </td>
                              </tr>`;
                    });
                    $('#tech_data tbody').html(html);
                   
              
                        $('#tech_data').DataTable({
                          "paging": true,
                          "searching": true,
                          "info": true,
                          "ordering": true,
                          "responsive": true,
                          "autoWidth": true,
                          destroy: true // Ensures DataTables reinitializes
                        });
                      },
                      error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log("Error during AJAX request:", textStatus, errorThrown);
                      }
                    });
                  }
              
                  load_data(); // Call the function to load your data
                });
              </script>
              <!-- <script>
                // Script for complete table fetch from mysql starts
                $(document).ready(function () {

                  load_data();

                  function load_data() {
                    $.ajax({
                      url: "/techall",
                      method: "GET",
                      //           data:{action:'fetch'},
                      dataType: "JSON",
                      success: function (data) {
                        //    console.log(data);
                        var html = '';
                        var status_message = '';
                        var qs_message = '';
                        var internet_message = '';
                        var software_message = '';

                        if (data.data.length > 0) {
                          //  console.log(data.data.length);
                          for (var count = 0; count < data.data.length; count++) {

                            if (data.data[count].tech_req_status == 3) {
                              status_message = "Checked";
                              color_type = 'chartreuse';
                            }
                            else {
                              status_message = "Not Checked";
                              color_type = 'yellow';
                            }

                            if (data.data[count].qs_set == 1) {
                              qs_message = "QS Set Required";
                              // color_type ='chartreuse';
                            }
                            else {
                              qs_message = "QS Set Not Required";
                              // color_type = 'yellow';
                            }

                            if (data.data[count].internet == 1) {
                              internet_message = "Internet Required";
                              // color_type ='chartreuse';
                            }
                            else {
                              internet_message = "Internet Not Required";
                              // color_type = 'yellow';
                            }

                            if (data.data[count].software_install == 1) {
                              software_message = "Software Installations Required";
                              // color_type ='chartreuse';
                            }
                            else {
                              software_message = "Software Installations Not Required";
                              // color_type = 'yellow';
                            }


                            html += `
                                  <tr>
                                    <td style="vertical-align: middle; text-align: center;color: black;">`+ qs_message + `</td>
                                    <td style="vertical-align: middle; text-align: center;color: black;">`+ internet_message + `</td>
                                    <td style="vertical-align: middle; text-align: center;color: black;">`+ software_message + `</td>
                                    <td style="vertical-align: middle; text-align: center;"> <span class="badge badge-sm" style="background-color:`+ color_type + `; color: black;">` + status_message + `</span></td>
                                    <td style="vertical-align: middle; text-align: center;color: black;">`+ data.data[count].tech_comment + `</td>
                                  </tr>
                                  `;
                          }
                        }

                        // $('#sample_data tbody').html(html);
                        $('tbody').html(html);
                        $('#tech_data').DataTable({
                    "paging": true,
                    "searching": true,
                    "info": true,
                    "ordering": true,
                    "responsive": true,
                    "autoWidth": true,
                    destroy: true // This ensures DataTables reinitializes
                });
                        // console.log(html);
                      },
                      error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log("inside AJAX function: Err");
                        alert("Status: " + textStatus); alert("Error: " + errorThrown);
                      }
                    });
                  }
                  // Script for complete table fetch from mysql ends
                }); 
              </script> -->
            </div>
          </div>
        </div>
        <!--footer starts-->
        <%- include('../templates/footer'); %>
        <!--footer ends-->
      </div>
  </main>

   <!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
  
  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/argon-dashboard.min.js?v=2.0.4"></script>
</body>

</html>